# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.vs/
Debug/
Release/

# https://github.com/microsoft/vcpkg/blob/master/.gitignore
*.user
*.aps

# JS Framework
.vscode/
src/framework.js
src/framework.js.map
src/framework.css
src/framework.css.map
src/js-framework/node_modules/
src/js-framework/package-lock.json

# VS
*.vcxproj.user

# VCPKG packages
vcpkg_installed/