# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.vs/
Debug/
Release/

# https://github.com/microsoft/vcpkg/blob/master/.gitignore
*.user
*.aps

# JS Framework's node_modules
.vscode/
js-framework/node_modules/
js-framework/package-lock.json