body{
    background: url("https://img-baofun.zhhainiao.com/pcwallpaper_ugc/static/6e2ea5cf56a0280bcb8c77109db685ce.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1920%2Ch_1080");
    background-size: cover;
}



*{
    transition: all 0.2s;
    scroll-behavior: smooth;
}

.m-nav *{
    color:white !important;
    text-shadow: 1px 1px 4px #00000077;
}


.z-tab-scroll,.g-mn{
    background:  rgba(255, 255, 255, 0.877) !important;

}

/* 滚动槽 */
::-webkit-scrollbar {
    display: none;
    width: 6px;
    height: 6px;
}
header{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.068);
} 

#main-player{
    
    margin:10px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.151);
}

.bar{
    left:20px !important;
    bottom: 10px !important;
    
}

.m-tabwrap{
    background: rgba(255, 255, 255, 0) !important;
    position: absolute;
    top: 20px;
}

#x-g-mn,.z-show{
    /* margin:10px !important; */
    
    overflow: hidden;
    border-radius:0px 0px 5px 5px;
}


.g-mn{
    /* padding: 4px; */
    -webkit-transform: translateY(-5px);
    margin:10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.151),
    1px -3px 8px rgba(0, 0, 0, 0.151);
}



.j-flag{
    background: unset;
}

.nav>*>*:hover{
    -webkit-transform: scale(1.03);
}

